if SHIELD_PHANNY_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Phanny"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PHANNY_LEFT || SHIELD_PHANNY_RIGHT

config ZMK_SPLIT
    default y

endif
